/* -------------------------------------------------------------------------- */
/*                                custom style                                */
/* -------------------------------------------------------------------------- */
:root {
    --orange: rgb(251 141 109);
    --green: rgb(62 93 88);
    --pantone: rgb(239 219 178);
}
* {
    font-family: arboria, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    color: var(--green) !important;
    font-weight: 900;
}
.body__logo img {
    display: block;
    width: 50vw;
    max-width: 900px;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.inline_label {
    width: 100%;
}
.card-body {
    overflow-x: scroll;
}
.scroll-studies,
.scroll-roles,
.scroll-permissions {
    height: 140px;
    overflow-y: scroll;
}
.scroll-permissions {
    height: 200px;
}
.ancla {
    display: inline-block;
    margin-right: 10px;
}
.overflow-y {
    overflow-y: scroll;
    height: 50vh;
}
.blue-form {
    display: inline-block;
    color: #000000 !important;
    line-height: 1.1em;
    box-shadow: inset 0 0 0 0 #fff;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    position: relative;
    text-decoration: none;
}
.body__form {
    width: 100%;
}
.blue-form:hover {
    background-color: #6372ff !important;
}
.btn-link {
    color: #000000 !important;
}
/* -------------------------------------------------------------------------- */
/*                                 Custom btn                                 */
/* -------------------------------------------------------------------------- */
.btn-primary {
    color: var(--green) !important;
    background-color: var(--pantone) !important;
    border-color: var(--green) !important;
    border-width: 1.2px;
}
.btn-primary:hover {
    color: var(--pantone) !important;
    background-color: var(--green) !important;
    border-color: var(--pantone) !important;
    border-width: 1.2px;
}
.btn-success {
    color: var(--orange) !important;
    background-color: var(--green) !important;
    border-color: var(--orange) !important;
    border-width: 1.2px;
}
.btn-success:hover {
    color: var(--green) !important;
    background-color: var(--orange) !important;
    border-color: var(--green) !important;
    border-width: 1.2px;
}
.btn-danger {
    color: #fff !important;
    background-color: var(--orange) !important;
    border-color: #fff !important;
    border-width: 1.2px;
}
.btn-danger:hover {
    color: var(--orange) !important;
    background-color: #fff !important;
    border-color: var(--orange) !important;
    border-width: 1.2px;
}
.btn-secondary {
    color: var(--orange) !important;
    background-color: #fff !important;
    border-color: var(--orange) !important;
}
.btn-secondary:hover {
    color: #fff !important;
    background-color: var(--orange) !important;
    border-color: #fff !important;
}
.btn-outline-primary {
    color: rgb(0, 0, 0) !important;
    background-color: #fff !important;
    border-color: rgb(0, 0, 0) !important;
    border-width: 1.2px;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
    border-width: 1.2px;
}
.btn-outline-success {
    color: var(--green) !important;
    background-color: #fff !important;
    border-color: var(--green) !important;
    border-width: 1.2px;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: var(--green) !important;
    border-color: var(--green) !important;
    border-width: 1.2px;
}
.btn-outline-danger {
    color: var(--orange) !important;
    background-color: #fff !important;
    border-color: var(--orange) !important;
    border-width: 1.2px;
}
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
    border-width: 1.2px;
}
/* -------------------------------------------------------------------------- */
/*                                Change active                               */
/* -------------------------------------------------------------------------- */
ul.grt-menu li a {
    padding: 5px 10px;
    display: inline-block;
    color: #000000 !important;
    line-height: 1.1em;
    box-shadow: inset 0 0 0 0 #fff;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    position: relative;
    text-decoration: none;
}

li.active a:after {
    position: absolute;
    bottom: 1px;
    content: "";
    left: 12px;
    right: 12px;
    background-color: transparent;
    border-bottom: 2px solid var(--green);
    color: #fff !important;
}
div.active a:after {
    position: absolute;
    bottom: 1px;
    content: "";
    left: 12px;
    right: 12px;
    background-color: transparent;
    border-bottom: 2px solid var(--green);
    color: #fff !important;
}
a i.fa__li.active {
    color: var(--orange);
}
li a.nav-link.active {
    color: var(--orange) !important;
}
/* -------------------------------------------------------------------------- */
/*                                    Login                                   */
/* -------------------------------------------------------------------------- */
.header__logo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.button_login {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
main {
    min-height: 91vh;
}
/* .card {
    background-color: rgba(90, 0, 236, 0.719);
} */
.navbar__logo {
    width: 70px;
    border-radius: 7px;
}
.header_span {
    text-transform: lowercase;
    font-weight: inherit;
}

/* -------------------------------------------------------------------------- */
/*                             Desktop only style                             */
/* -------------------------------------------------------------------------- */
@media (min-width: 768px) {
    ul.grt-menu li.grt-dropdown:hover > a + ul.grt-dropdown-list {
        top: calc(100% - 17px);
    }

    ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li {
        display: block;
    }

    ul.grt-menu li a:hover {
        box-shadow: inset 210px 0 0 0 var(--green);
        color: #fff !important;
    }
    .body__form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
